In [ ]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

In [ ]:
import pandas as pd
# Create your connection.
cn = sqlite3.connect('sqlite_db_pythonsqlite.db')

In [ ]:
#sql query for question 10
q10 = """SELECT * FROM
(SELECT subquery.facility_name, SUM(subquery.booking_cost) AS total_rev
FROM (SELECT  
    f.name AS facility_name,
    CASE WHEN b.memid = 0 THEN f.guestcost*b.slots
    	ELSE f.membercost*b.slots END
    	AS booking_cost
FROM Bookings AS b
INNER JOIN Members AS m ON b.memid = m.memid
INNER JOIN Facilities AS f ON b.facid = f.facid) AS subquery
GROUP BY subquery.facility_name) AS subquery2
WHERE subquery2.total_rev > 1000
ORDER BY subquery2.total_rev """
df_q10 = pd.read_sql_query(q10, cn)

In [ ]:
print(df_q10)

In [ ]:
#sql query for question 11
q11 = """SELECT m1.memid, CONCAT(m1.surname, ", " ,m1.firstname) AS member_name, 
            CASE WHEN m2.surname = "GUEST" THEN ""
    		ELSE CONCAT(m2.surname, ", " ,m2.firstname) END AS recommendedby_name
        FROM Members AS m1
        INNER JOIN Members AS m2
        ON CAST(m1.recommendedby AS INT) = m2.memid
        ORDER BY member_name"""
df_q11 = pd.read_sql_query(q11, cn)
print(df_q11)

In [12]:
#sql query for question 12
q12 = """SELECT facid, f.name AS facility_name
FROM Facilities AS f
WHERE facid NOT IN 
    (SELECT facid FROM `Bookings`
    WHERE memid = 0
    GROUP BY facid)"""
df_q12 = pd.read_sql_query(q12, cn)
print(df_q12)

Empty DataFrame
Columns: [facid, facility_name]
Index: []

In [14]:
#sql query for question 13
q13 = """SELECT b.facid, f.name AS facility_name, EXTRACT(MONTH FROM starttime) as month, SUM(slots) AS useage
FROM Bookings AS b
INNER JOIN Facilities AS f USING (facid)
WHERE memid <> 0
GROUP BY b.facid, month"""
df_q13 = pd.read_sql_query(q13, cn)
print(df_q13)

DatabaseError: Execution failed on sql 'SELECT b.facid, f.name AS facility_name, EXTRACT(MONTH FROM starttime) as month, SUM(slots) AS useage
FROM Bookings AS b
INNER JOIN Facilities AS f USING (facid)
WHERE memid <> 0
GROUP BY b.facid, month': near "FROM": syntax error